% rebase('layout.html', title='home')

<main class="search_main_container">


<div class="search_container">
    <div class="search_box">
        <h3 class="search_title">Busqueda de Cliente</h3>
    <form action="/show_client" method="post" >
        <div class="search_client_box_user search_box">
            <input name="full_name" type="text" class="search_name">
            <label>Usuario</label>
            <button class="search_client_btn" type="submit">Ingresar</button>
        </div>
        <!-- <p><input type="submit"></p> -->

    </form>

    

    <form action="/show_file" method="post" >
        <div class="search_client_box_file search_box">
            <input name="file_name" type="text" class="search_file" required>
            <label>Nombre de Archivo</label>
            <!-- <a href="/views/show_file.html" target="_blank">click show</a> -->
            <button class="search_client_btn" type="submit">Ingresar</button>
        </div>
        <!-- <p><input type="submit"></p> -->
    </form>  



    </div>
</div>



<div class="search_table_container">
    % if defined('blank'):
        <p class="search_table_first_p">{{blank}}</p>

    %elif defined('no_exists'):
        <p class="search_table_second_p">Client {{no_exists}} no existe</p>

    %elif defined('rows'):
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Archivo</th>
                
            </tr>
        </thead>

        <tbody>
        %for row in rows:
            <tr class="active-row">
                %for col in row:
                    <td>{{col}}</td>
                %end
            </tr>
        %end
        </tbody> 
    %else:
     <p class="search_table_last_p">Resultados de Busqueda</p>
    %end  

</div>

</main>



<!-- FORMAT EXAMPLE -->



    <!-- <div class="container">
        <div class="box">
            <h2>Iniciar Seccion</h2>
            <form action="/" method="post">

                <div class="input_box">
                    <input name="name" type="text" class="name">
                    <label>Usuario</label>
                </div>

                <div class="input_box">
                    <input name="pass" type="text" class="password" name="pass" >
                    <label>Contrasena</label> -->
                    

                <!-- <div class="forgot_password"><a href="#">Forgot Password ?</a></div> -->

                <!-- <button class="login_button" type="submit">Entrar</button>
                <div class="check_log">
                    % if defined('log_fail'):
                        <p class="log_msn">{{log_fail}}</p>
                    %end
                </div>
                <div class="signup_link"><a href="signup.html">Don't have an Account ?</a></div>


            </form>
            
        </div>
    </div> -->